.map {
  border: 1px solid grey;
}

.wrapper {
  position: relative;
}

.earth {
  fill: #a1cbdb;
  stroke: none;
}

.country {
  fill: rgb(62, 90, 83);
}

.graticule {
  stroke: #cadddd;
  fill: none;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 30px;
  padding: 0.6em 1em;
  background: rgb(158, 148, 148);
  text-align: center;
  border: 1px solid #ddd;
  z-index: 10;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.tooltip:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}

.tooltip-port-location {
  margin-bottom: 0.2em;
  font-weight: 600;
}

.tooltip-port-code {
  font-size: 0.8em;
}
